.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    padding: 0 50px;
    position: relative;
    padding-bottom: 150px;
}

.hero__box {
    width: 550px;
    height: 348px;
    font-family: "DM Sans", sans-serif;
}

.hero__title {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
    letter-spacing: 2%;
    /* 1. Gradient ranglarini belgilaymiz */
    background: linear-gradient(to right, #2b59ff, #bb2bff, #ff2bad);

    /* 2. Gradientni matn shakliga qirqib olamiz */
    -webkit-background-clip: text;
    /* Chrome, Safari va yangi brauzerlar uchun */
    background-clip: text;

    /* 3. Matnning asl rangini shaffof (transparent) qilamiz */
    /* Bu juda muhim, aks holda gradient ko'rinmaydi */
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 29px;
}

.hero__text {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #E5E7EB;
    box-shadow: 0px 4px 4px 0px #00000012;
    margin-bottom: 31px;
}

.hero__mini__box {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 350px;
    color: #F9FAFB;
}

.hero__btn {
    width: 152px;
    height: 42px;
    border-radius: 8px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
    font-size: 16px;
    display: inline-block;
}

.hero__btn:hover {
    transform: scale(1.1) translateY(-3px);
}

.hero__link {
    width: 151px;
    height: 36px;
    display: flex;
    /* display: inline-block; */
    color: #F9FAFB;
    padding: 10px 0;
    position: relative;

}

.hero__icon {
    font-size: 20px;
    width: 36px;
    height: 36px;
    margin-right: 20px;
    position: absolute;
    right: -10px;
    top: 0;
}

.hero__img__box {
    width: 605px;
    height: 605px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:  5px dotted #2563EB;
    border-right: 5px dotted #D946EF;
    border-width: thick;
    border-radius: 50%;
    animation: rotateAnim 10s linear infinite;
}

.hero__img {
    /* border: 3px inset  #D946EF ; */
    border-radius: 50%;
    width: 600px;
    height: 600px;
    animation: rotateImg 10s linear infinite;
}

.hero__efekts {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0;
    z-index: -10;
    width: 100%;
    height: 302px;
    top: 50px;
    left: 0;
    right: 0;
}

.hero__efekts__img {
    width: 300px;
    height: 300px;
    backdrop-filter: blur(200px);
    opacity: 0.7;
    animation: floatScale 5s infinite ease-in-out;
}

.hero__efekts__img:nth-child(1) {
    animation-delay: 0s;
    /* background: white; */
}

.hero__efekts__img:nth-child(2) {
    animation-delay: 1.5s;
}

.hero__efekts__img:nth-child(3) {
    animation-delay: 3s;
}

@keyframes floatScale {
    0% {
        transform: translateY(0px) scale(1.1);
        opacity: 0.5;
    }

    25% {
        transform: translateY(-30px) scale(1.2);
        opacity: 0.7;
    }

    50% {
        transform: translateY(0px) scale(1.3);
        opacity: 1;
    }

    75% {
        transform: translateY(30px) scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0px) scale(1);
        opacity: 0.5;
    }
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}