.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 2px #7F5AF0;
    padding: 5px 50px;
    height: 80px;
    backdrop-filter: blur(8px);
    border-radius: 7px;
    
}
.header__list{
    width: 756px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-size: 18px; */
    /* font-family: "DM Sans", sans-serif; */
}

.header__link {
    position: relative;
    text-decoration: none;
    color: #F9FAFB;
    padding-bottom: 5px;
    transition: color 0.4s ease;
    /* transition-duration: 0.5s; */
}

/* Chiziqning boshlang'ich holati */
.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Chiziq qalinligi */
     /* background-color: #764bf8;   Chiziq rangi (rasmdagi kabi sariq-olovrang) */
    
    /* Effektning asosi: chiziqni boshida 0 ga tenglashtiramiz */
    transform: scaleX(0);
    transform-origin: bottom right; /* Chiziq o'ngga qarab yo'qoladi */
    transition: transform 0.3s ease-out;
    box-shadow: 0px 1px 10px 2px #7F5AF0;
}

/* Hover bo'lgandagi holat */
.header__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; /* Chiziq chapdan chiqib keladi */
    
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
}

/* Aktiv bo'lim uchun (Home kabi tagida chiziq doim turishi uchun) */
.header__link.active::after {
    transform: scaleX(1);
}
.header__btn__link{
    width: 152px;
    height: 42px;
    border-radius: 8px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    color: #F9FAFB;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.5s;
}
.header__btn__link:hover {
    transform: scale(1.1) translateY(-3px);
}
.buttons{
    width:  60px;
    height: 35px;
    text-align: center;
    border-radius: 20%;
    background: transparent;
    color: #F9FAFB;
    border: none;
    cursor: pointer;
}
.lenguage{
    color: #000;

}