*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "DM Sans", "Roboto", "Arial", sans-serif;
  scroll-behavior: smooth;
}
body{
  background: #111827;
  overflow-x: hidden; 
  max-width: 100%;

}
.container{
  margin: 0 auto;
  max-width: 1300px;
  border: 1px ;
  font-family: "DM Sans", sans-serif;
  border-left: 1px groove #7F5AF0;
  border-right: 1px groove #7F5AF0;
}
